/* Variables */
:root {
    --black: rgb(38, 38, 38); 
    --pink:  rgb(237, 141, 179);
    --blue: rgb(136, 194, 199);
    --font: 'Jost', sans-serif;
    /* --font: 'Rubik',sans-serif; */
    /* --font: 'Helvetica', sans-serif; */
}
  
.page {
    margin-top: 50;
    margin-bottom: 100px;
    font-family: var(--font);
    color: var(--blue); 
}
body {
    background-color: var(--black);
    /* background-color:rgb(42,40,41); */
    /* background-image: linear-gradient(var(--black), rgb(113,113,113)); */
    /* background-image: linear-gradient(var(--black),var(--pink)); */
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
a {
    color: var(--blue);     
}
h1, h2, p {
    font-family: var(--font);
    color: var(--blue);
}

.center{
    /* padding-top: 60px; */
    /* padding-top: 20px; */
    padding-top: 0px;
    padding-bottom: 30px;
    text-align: center;
}

#logo-home{
    text-align: center;
    /* padding-top: 60px; */
    padding-bottom: 0px;
    padding-top: 0px;
}
#logo-home img {
    /* width: 350px; */
    height: auto; /* Let the height adjust proportionally to maintain aspect ratio */
    width: 250px;
    /* border-radius: 50%;  */
}

.contact-page {
    color: var(--blue);
    font-family: var(--font);    
}
#contact-subheader {
    text-align: center;
    margin-bottom: 25px;
    /* font-size:20px; */
}
#contact-info{
    font-size: 18px;
}
@media (min-width: 768px) {
    #contact-info {
        padding-top: 90px; /* Add the desired padding for larger screens */
    }
}

#contactButton{
    background-color: var(--blue); 
    color: var(--black);
    border: none;
}

.custom-hr {
    border-color: var(--blue); /* Change to the desired color */
    border-width: 1px; /* Optional: Set the border width, default is 1px */
}

/* SERVICES PAGE */
#servicesContainer {
    color: var(--blue);
    font-family: var(--font);
    /* outline: 1.5px solid; */
    margin-top: 15px;
    margin-bottom: 15px;


    /* making border stuff  */
  
    /* background: black;
    border: 2px solid #000;
    border-radius: 10px; 
    padding: 5px 5px 10px 5px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);  */
    
}
.service-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
.service-item {
    font-size: 22px;
    border-bottom: .5px solid;
    padding: 8px 10px 8px 5px; /* top, right, bottom, left */
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* background-color: var(--black); */
}
.service-details{
    font-size: 16px;
    /* outline: .5px solid; */
    padding: 5px 20px 5px 20px;
    /* background-color: var(--black); */
}

.expand-icon {
    font-size: 10px; /* Adjust the font size here to change the icon size */
}

.fa-plus:before {
    content: "\f067"; /* Unicode for the "plus" icon */
}

.fa-minus:before {
    content: "\f068"; /* Unicode for the "minus" icon */
}


#partners-container{
    margin-top: 40px;
    margin-bottom: 0px;
}

.partner-card {
    /* Customize partner card styles */
    color: var(--blue);
    font-family: var(--font);
    text-align: center;
    font-size: 14px;
}
  
.partner-img-container {
    width: 150; 
    height: 150; 
    overflow: hidden;
    border-radius: 50%; /* Crop the image in a circle */
    margin: 0 auto; /* Center the circular cropped image */
    font-size: 10px;
}
  
.partner-card-img-top {
    width: 100%; /* Adjust the image size within the circular cropping container */
    height: 100%; /* Adjust the image size within the circular cropping container */
    object-fit: cover; /* Maintain aspect ratio and crop to fit circular container */
}
  
  /* Optional: Add styles to the card body or other elements */
.card-body {
    /* Customize card body styles */
    color: var(--blue);
    font-family: var(--font);
    text-align: center;
    font-size: 16px;
    padding: 5px 0px 8px 0px; /* top, right, bottom, left */
}



.carousel-control-prev {
    float: right; /* Float the carousel control to the right */
}

#containerBig{

    /* border-top: 1px solid var(--blue); */
    /* border-bottom: 1px solid var(--blue); */
    padding: 30px 0px 30px 0px;
}





/* ABOUT US */
#about-us-blurb{
    padding-bottom: 10px;
    text-align: justify;
    color: var(--blue);
    font-size: 16px;
    font-family: var(--font);
}
#persons-larger-container{
    padding-top: 10px;
    padding-bottom: 80px; 
}
.person-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    margin-top: 15px;
    margin-bottom: 0px;    
}
.person-image{
    /* max-width: 90%; */
    display: block;
    padding: 10px 10px 5px 5px;
}
.person-name{
    padding: 5px 10px 0px 10px;
    color: var(--black);
    font-family: var(--font);
    font-size: 20px;
}
.person-title{
    padding: 0px 10px 0px 10px;
    color: grey;
    font-family: var(--font);
    font-size: 16px;
}
.person-info{
    padding: 0px 10px 0px 10px;
    color: grey;
    font-family: var(--font);
    font-size: 14px;
}
.person-instagram{
    padding: 10px 10px 5px 10px;
}







.message-input {
    height: 80px; /* Adjust the height as needed */
}




.navbar {
    position: relative;
    color: var(--black);
    transition: all 0.3s ease-out;
    font-size: 25px;
  }

  /* scrolling state */
  .navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--pink);
  }

  .navbar.fixed-top a {
    color: var(--pink);
  }

  .navbar-brand {
    font-size: 30px;
  }

  .navbar .navbar-brand,
  .navbar .navbar-nav .nav-link {
    color: var(--pink);
    font-family: var(--font);
  }
 


  /* Media query for devices with a minimum width of 992px (large screens) */
  @media (min-width: 992px) {
    .navbar {
      color: var(--pink);
      padding: 10px 150px 0px 150px; /* Regular padding for larger screens */
    }
  }

  /* Reset padding for devices with a maximum width of 767px (small devices) */
  @media (max-width: 767px) {
    .navbar:not(.fixed-top) {
      padding-left: 20px; /* No padding for smaller devices */
    }
    .navbar-brand {
      font-size: 25px; /* Adjust the font size for smaller devices */
    }
  }
  

.fab {
    font-size: 36px; /* Adjust the font size as desired */
}





.btn-outline-success,
.btn-outline-success:focus,
.btn-outline-success:hover,
.btn-outline-success:active 
.btn{
    color: var(--pink) !important;
    border-color: var(--pink) !important;
}








table {
    border-collapse: collapse;
    /* background-color: var(--blue); Set table background color */
    color: var(--blue);
}
table, th, td {
    border: 1px solid var(--blue);
    padding: 5px;
}
.dropdown {
    display: none;
    padding: 5px;
    background-color: transparent; /* Set dropdown background color as transparent */
    pointer-events: none;
    outline:var(--blue);
    border: none; /* Remove border */
  }

td {
    cursor: pointer;
}
  
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
footer {
    margin-top: auto;
    text-align: center;
    font-family: var(--font);
}
li a {
    white-space: nowrap;
    text-align: center;
}



/* home options */
#welcome-to{
    text-align: center;
    color: var(--blue);
    font-size: 65px;
    font-family: var(--font);
}
#maimi-marine-management{
    text-align: left;
    color: var(--pink);
    font-size:65px;
    font-family: var(--font);
}
@media (max-width: 767px) {
    #welcome-to,
    #maimi-marine-management {
        display: none; /* Hide the headings on mobile devices */
    }
}



#front-blurb {
    padding: 0 25px 0 25px; /* top right bottom left */

    text-align: justify;
    color: var(--blue);
    font-size: 20px;
    font-family: var(--font);
}
@media (max-width: 767px) {
    #front-blurb {
        font-size: 15px;
    }
}