/* Branding font */
@font-face {
    font-family: 'ADAM'; 
    src: url('ADAM.CG_PRO.otf') format('opentype');
}

/* Variables */
:root {
    --black: rgb(38, 38, 38); 
    --charcoal: #262626;
    --pink:  rgb(255, 137, 180);
    --blue: #76c4ca;
    --font:'Helvetica', sans-serif;
    --adam: 'ADAM', sans-serif;
}
  
.page {
    margin-top: 50;
    margin-bottom: 0px;
    font-family: var(--font);
    color: white; 
}

body {
    /* Had to add the margin and padding for the body of the landing page and not sure if its going to */
    /* mess up other stuff */
    margin: 0;  
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
a {
    color: white;     
}
h1, h2, p {
    font-family: var(--font);
    color: white;
}
li a {
    white-space: nowrap;
    text-align: center;
}

.center{
    /* padding-top: 60px; */
    /* padding-top: 20px; */
    padding-top: 0px;
    padding-bottom: 30px;
    text-align: center;
}


.contact-page {
    color: white;
    font-family: var(--font);    
}
#contact-subheader {
    text-align: center;
    margin-bottom: 25px;
    /* font-size:20px; */
}
#contact-info{
    font-size: 18px;
}
@media (min-width: 768px) {
    #contact-info {
        padding-top: 90px; /* Add the desired padding for larger screens */
    }
}
@media (max-width: 767px) {
    #contact-info {
        padding: 30px 35px 30px 35px; 
        font-size: 16px;
    }
    #contact-subheader{
        padding: 0px 35px 0px 35px; 
    }
    #contact-form{
        padding: 0px 35px 0px 35px; 
    }
}

#contactButton{
    background-color: var(--black); 
    border: 2px solid white;
    color: white;
    /* border: none; */
}

.col-md-12 hr {
    width: 100%;
    margin: 0 auto;
  }
  
.custom-hr {
    border-color:white; /* Change to the desired color */
    border-width: 1px; /* Optional: Set the border width, default is 1px */
}

/* SERVICES PAGE */
#servicesContainer {
    color: white;
    font-family: var(--font);
    /* outline: 1.5px solid; */
    margin-top: 15px;
    margin-bottom: 15px;


    /* making border stuff  */
  
    /* background: black;
    border: 2px solid #000;
    border-radius: 10px; 
    padding: 5px 5px 10px 5px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);  */
    
}
@media (max-width: 767px) {
    #servicesContainer {
        padding: 30px 35px 30px 35px; 
    }
    #partnersGrid {
        padding: 40px 40px 40px 40px; 
    }
    #carousel{
        display: none;
    }
}
@media (min-width: 768px) {
    #partnersGrid {
        display: none;
    }
}
.service-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
.service-item {
    font-size: 22px;
    border-bottom: .5px solid;
    padding: 8px 10px 8px 5px; /* top, right, bottom, left */
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* background-color: var(--black); */
}
.service-details{
    font-size: 16px;
    /* outline: .5px solid; */
    padding: 5px 20px 5px 20px;
    /* background-color: var(--black); */
}

.expand-icon {
    font-size: 10px; /* Adjust the font size here to change the icon size */
}

.fa-plus:before {
    content: "\f067"; /* Unicode for the "plus" icon */
}

.fa-minus:before {
    content: "\f068"; /* Unicode for the "minus" icon */
}


#partners-container{
    /* margin-top: 40px; */
    margin-top: 30px;
    margin-bottom: 0px;
}

.partner-card {
    /* Customize partner card styles */
    color: white;
    font-family: var(--font);
    text-align: center;
    font-size: 14px;
}
  
.partner-img-container {
    width: 125; 
    height: 125; 
    overflow: hidden;
    border-radius: 50%; /* Crop the image in a circle */
    margin: 0 auto; /* Center the circular cropped image */
    font-size: 10px;
}
  
.partner-card-img-top {
    width: 100%; /* Adjust the image size within the circular cropping container */
    height: 100%; /* Adjust the image size within the circular cropping container */
    object-fit: cover; /* Maintain aspect ratio and crop to fit circular container */
}
  
  /* Optional: Add styles to the card body or other elements */
.card-body {
    /* Customize card body styles */
    color: white;
    font-family: var(--font);
    text-align: center;
    font-size: 16px;
    padding: 5px 0px 8px 0px; /* top, right, bottom, left */
}



.carousel-control-prev {
    float: right; /* Float the carousel control to the right */
}

#containerBig{

    /* border-top: 1px solid var(--blue); */
    /* border-bottom: 1px solid var(--blue); */
    padding: 30px 0px 30px 0px;
}





/* ABOUT US */
#about-us-blurb{
    padding-bottom: 10px;
    text-align: justify;
    color: white;
    font-size: 16px;
    font-family: var(--font);
}
@media (max-width: 767px) {
    #about-us-blurb{
        padding: 0 35px 0 35px; 
        text-align: center;
    }
    #persons-larger-container, #instagram-media{
        padding: 0 35px 0 35px; 
    }
}
#persons-larger-container{
    padding-top: 10px;
    padding-bottom: 80px; 
}
.person-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    margin-top: 15px;
    margin-bottom: 0px;    
}
.person-image{
    /* max-width: 90%; */
    display: block;
    padding: 10px 10px 5px 5px;
}
.person-name{
    display: flex;
    padding: 5px 10px 0px 10px;
    color: var(--black);
    font-family: var(--font);
    font-size: 20px;
}
.person-title{
    padding: 0px 10px 0px 10px;
    color: grey;
    font-family: var(--font);
    font-size: 16px;
}
.person-info{
    padding: 0px 10px 0px 10px;
    color: grey;
    font-family: var(--font);
    font-size: 14px;
}
.person-instagram{
    padding: 10px 10px 5px 10px;
}
.instagram-icon {
    padding: 5px 0px 0px 5px;
    font-size: 20px; /* Change this value to adjust the size */
    color: grey;
}






.message-input {
    height: 80px; /* Adjust the height as needed */
}




/* Main navbar styles */
.navbar {
    position: relative;
    color: var(--black);
    /* transition: all 0.3s ease-out; */
    /* font-size: 25px;  */
}
  
  /* Scrolling state */
  /* .navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--black);
  } */
  
  /* Set the color of navbar links to white */
  .navbar .navbar-nav .nav-link {
    color: var(--pink);
    font-size: 25px; 
    font-family: var(--font);
  }
  .navbar .navbar-nav .nav-link:hover {
    color: var(--pink); /* Maintain the same color on hover */
    text-decoration: none; /* Remove the underline on hover */
    text-shadow: 2px 2px 10px rgba(255, 137, 180, 0.9); /* Add text shadow on hover */
}
  
 
#special-nav{
    color: var(--pink);
    font-size: 30px;
    font-family: var(--adam);
}
#flag-img{
    width: 45px;       
    height:30px;       
    
}
  

  /* Media query for devices with a minimum width of 992px (large screens) */
  @media (min-width: 992px) {
    .navbar {
      color: var(--white);
      padding: 10px 150px 0px 150px; /* Regular padding for larger screens */
    }
  }
  
  /* Reset padding for devices with a maximum width of 767px (small devices) */
@media (max-width: 767px) {
    .navbar:not(.fixed-top) {
      padding-left: 25px; /* No padding for smaller devices */
    }

    #special-nav{
        font-size: 25px;
    }
    .nav-item{
        font-size: 20px;
    }
}
.custom-toggler.navbar-toggler {
    border-color: var(--pink);
    /* border-color: var(--black); */
    color:var(--pink);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237, 141, 179, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
  
  


#service-link{
    color: rgb(237, 141, 179); 
    display: flex; 
    align-items: center; 
    justify-content: center;
}





.btn-outline-success,
.btn-outline-success:focus,
.btn-outline-success:hover,
.btn-outline-success:active 
.btn{
    color: var(--pink) !important;
    border-color: var(--pink) !important;
}








table {
    border-collapse: collapse;
    /* background-color: var(--blue); Set table background color */
    color: var(--blue);
}
table, th, td {
    border: 1px solid var(--blue);
    padding: 5px;
}
.dropdown {
    display: none;
    padding: 5px;
    background-color: transparent; /* Set dropdown background color as transparent */
    pointer-events: none;
    outline:white;
    border: none; /* Remove border */
  }

td {
    cursor: pointer;
}
  










/* LANDING PAGE */
.slides{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.landing-page-background {
    min-height: 100vh;
    background-image: url("home_page3.jpg");
    /* background-position: -50px; */
    
}
.services-landing-page-background {
    background-image: url("services_home.jpg");
    display: flex;
    align-items: center;
    justify-content: center;

}
.about-landing-page-background {
    background-image: url("about_home.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-landing-page-background {
    background-image: url("contact_home.png");
    display: flex;
    align-items: center;
    justify-content: center;
}


#front-blurb {
    padding: 400px 25px 0px 25px;
    display: flex;   
    align-items: baseline;
    margin-bottom: -10px;
}
.top-row-front{
    padding-right: 5px;
    color: white;
    font-size: 25px;     
}
#MMM-front{
    color: var(--pink);
    font-size: 45px;
    font-family: var(--adam);
}

#front-blurb-paragraph{
    padding: 0px 25px 0 25px; 
    text-align: justify;
    color: white;
    font-size: 25px;
}

.pill-button-front-page{
    font-size:25px;
    background-color: var(--pink);
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;

}
.pill-button-front-page:hover {
    color: white;
    text-decoration: none; /* Remove the underline on hover */
    text-shadow: 2px 2px 4px rgba(59, 58, 58, 0.3); /* Add text shadow on hover */
}
.pill-button {
    font-size:25px;
    background-color: white;
    border: none;
    color: var(--blue);
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;

}
.pill-button:hover {
    color: var(--blue); /* Maintain the same color on hover */
    text-decoration: none; /* Remove the underline on hover */
    text-shadow: 2px 2px 4px rgba(59, 58, 58, 0.3); /* Add text shadow on hover */
}



/* FOOTER */
footer {
    margin-top: auto;
    text-align: center;
    font-family: var(--font);
}
/* Icons in the footer */
.layout-icons{
    font-size: 36px;
    color: var(--pink);
}