/* Variables */
:root {
    --black: rgb(38, 38, 38); 
    --pink:  rgb(237, 141, 179);
    --blue: rgb(136, 194, 199);
}
  
.page {
    margin-top: 50;
    margin-bottom: 100px;
}
body {
    background-color: var(--black);
    background-image: linear-gradient(var(--black), rgb(113,113,113));
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
a {
    color: var(--blue);     
}
h1, h2, p {
    color: var(--blue);
}

#logo-home{
    text-align: center;
    padding-top: 40px;
}
#logo-home img {
    width: 300px; /* Set the desired width of the image */
    height: auto; /* Let the height adjust proportionally to maintain aspect ratio */
}

.contact-page {
    color: var(--blue);
    font-family: Arial, sans-serif;
    
}
#contact-subheader {
    text-align: center;
    margin-bottom: 25px;
}

#contactButton{
    background-color: var(--blue); 
    color: var(--black);
    border: none;
}

.custom-hr {
    border-color: var(--blue); /* Change to the desired color */
    border-width: 1px; /* Optional: Set the border width, default is 1px */
}


#servicesContainer {
    color: var(--blue);
    font-family: Arial, sans-serif;
    /* outline: 1.5px solid; */
    margin-top: 15px;
}
.service-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
.service-item {
    font-size: 18px;
    border-bottom: .5px solid;
    padding: 8px 10px 8px 5px; /* top, right, bottom, left */
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* background-color: var(--black); */
}
.service-details{
    font-size: 14px;
    /* outline: .5px solid; */
    padding: 5px 20px 5px 20px;
    /* background-color: var(--black); */
}

.expand-icon {
    font-size: 10px; /* Adjust the font size here to change the icon size */
}

.fa-plus:before {
    content: "\f067"; /* Unicode for the "plus" icon */
}

.fa-minus:before {
    content: "\f068"; /* Unicode for the "minus" icon */
}


#partners-container{
    margin-top: 40px;
}

.message-input {
    height: 80px; /* Adjust the height as needed */
}

#instagram-page{
    display: flex;
    justify-content: center;
}

/* NAVBAR*/
.navbar {
    background-color: transparent;
}
.navbar .navbar-brand {
    color: var(--pink);
    font-family: Arial, sans-serif;
}

.navbar .navbar-nav .nav-link {
    color: var(--pink);
    font-family: Arial, sans-serif;
}

.btn-outline-success,
.btn-outline-success:focus,
.btn-outline-success:hover,
.btn-outline-success:active 
.btn{
    color: var(--pink) !important;
    border-color: var(--pink) !important;
}




.center{
    text-align: center;
}



table {
    border-collapse: collapse;
    /* background-color: var(--blue); Set table background color */
    color: var(--blue);
}
table, th, td {
    border: 1px solid var(--blue);
    padding: 5px;
}
.dropdown {
    display: none;
    padding: 5px;
    background-color: transparent; /* Set dropdown background color as transparent */
    pointer-events: none;
    outline:var(--blue);
    border: none; /* Remove border */
  }

td {
    cursor: pointer;
}
  
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
footer {
    margin-top: auto;
    text-align: center;
}
li a {
    white-space: nowrap;
    text-align: center;
}

