{% extends "layout.html" %}

{% block content %}

<title>About Us - Miami Marine Management</title>



<script async src="//www.instagram.com/embed.js"></script>


<div class="page">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>About Us</h1>
            <div id="about-us-blurb">
                Welcome to Miami Marine Management! As a leading marine services company in Miami, Florida, we take pride in delivering top-notch solutions to the boating and marine industry.
                <p></p>
                With years of experience and a dedicated team, customer satisfaction is our top priority. <a href="/contact"> <span style="text-decoration: underline;">Contact us</span></a> to learn more about our reliable and high-quality services. Thank you for choosing Miami Marine Management!
            </div>
            
        </div>
    </div>

    
    
</div>

{% endblock %}