{% extends "layout.html" %}

{% block content %}

<title>About Us - Miami Marine Management</title>


<script>
    let people = '{{ people| tojson}}'
</script>
<script async src="//www.instagram.com/embed.js"></script>


<div class="page">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>About Us</h1>
            <div id="about-us-blurb">
                Welcome to Miami Marine Management! As a leading marine services company in Miami, Florida, we take pride in delivering top-notch solutions to the boating and marine industry.
                <p></p>
                With years of experience and a dedicated team, customer satisfaction is our top priority. <a href="/contact"> <span style="text-decoration: underline;">Contact us</span></a> to learn more about our reliable and high-quality services. Thank you for choosing Miami Marine Management!
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
    
        <div class="col-md-10">
            <div class="row" id="persons-larger-container">
                {% for person_name, person_data in people.items() %}
                <div class="col-md-3 col-12">
                    <div class="person-container">
                        <div class="person-image">
                            <img src="{{ person_data.photo }}" style="max-width: 100%; display: block;">
                        </div>
                        <div class="person-name">
                            {{ person_name }}
                            <a href="{{ person_data.instagram }}" target="_blank">
                                <i class="fab fa-instagram instagram-icon"></i>
                            </a>
                           
                        </div>
                        <div class="person-title">
                            {{ person_data.title }}
                        </div>
                        <div class="person-info">
                            {{ person_data.info }}
                        </div>
                        <!-- <div class="person-instagram">
                            <a href=" {{ person_data.instagram }}" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div> -->
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    
        <div class="col-md-1"></div>
    </div>
    

    
    



  

    <!-- INSTAGRAM -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8">
            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/miamimarinemgmt/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:15px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
            </blockquote>
        </div>
    </div>
    
</div>

{% endblock %}