{% extends "layout.html" %}

{% block content %}

<title>About Us - Miami Marine Management</title>

<script async src="//www.instagram.com/embed.js"></script>


<div class="page">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1>About Us</h1>
          <!-- <p>Welcome to Miami Marine Management! We are a leading marine services company based in Miami, Florida.</p>
          <p>At Miami Marine Management, we take pride in providing top-notch services to our customers in the boating and marine industry. With years of experience and a dedicated team, we are committed to delivering exceptional results and ensuring the satisfaction of our clients.</p>
          <p>Our team of skilled professionals is equipped with the knowledge and expertise to handle various marine-related tasks, including boat cleaning and detailing, gel-coat restoration, interior cleaning, teak restoration, bottom painting, and engine maintenance. Whether you are a boat owner or manage a marine business, we've got you covered!</p>
          <p>We value our customers' trust and aim to build long-lasting relationships through reliable and high-quality services. Customer satisfaction is our top priority, and we strive to exceed expectations with every project we undertake.</p>
          <p>If you have any questions or would like to learn more about our services, feel free to get in touch with us. We are here to assist you and provide the best marine solutions tailored to your needs.</p>
          <p>Thank you for choosing Miami Marine Management. We look forward to serving you!</p>
         -->
            <p>Welcome to Miami Marine Management! As a leading marine services company in Miami, Florida, we take pride in delivering top-notch solutions to the boating and marine industry. </p>
            <p>With years of experience and a dedicated team, customer satisfaction is our top priority. Contact us to learn more about our reliable and high-quality services. Thank you for choosing Miami Marine Management!</p>
        
        </div>
    </div>
    <br>
    <br>


  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        

        
        <div id="instagram-page">
            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/miamimarinemgmt/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
            <!-- Instagram embed content will be dynamically added here -->
            </blockquote>
        </div>
      </div>
    </div>
</div>

{% endblock %}