{% extends "layout.html" %}

{% block content %}

<title>Contact - Miami Marine Management</title>


<script>
    let services = '{{ services| tojson}}'
</script>
<script type="module" src="static/contact.js"></script>

<div id ="contact-page">
    <nav class="navbar navbar-expand-lg navbar-light layout-nav">
      <a class="navbar-brand" id="special-nav" href="/">
        <img src="/static/flag.jpg" alt="https://www.vecteezy.com/free-vector/usa-flag-icon" id="flag-img">
        MIAMI MARINE MGMT.
      </a>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_us">About</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="/contact">Contact</a>
          </li>
  
  
        </ul>
      </div>
    </nav>
  
    <div class="page-top">
      <!-- spacer for the image to show -->
    </div>
</div>

<div class="page">
    <div class='container'>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          
  
            <div class ="page-header">
                Contact our Team
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="contact-page">
                        <div id="contact-subheader">
                    
                            <div>
                                We will be happy to answer your questions. 
                            </div>
                            <div">
                                Email, call, text or fill out our form and we will get back to you shortly.  
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div id="contact-info"> 
                                        <p><b><i class="fas fa-envelope"></i> contactmiamimarine@gmail.com</b></p>                
                                        <p><b><i class="fas fa-phone"></i> (786) 332-6817</b></p>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-6">
                                    <div id="contact-form"?>
                                        <form>
                                            Name
                                            <div>
                                                <input id="name" class="form-control">
                                            </div>
                                            <br>

                                            Email
                                            <div>
                                                <input type = "email" id="email"  class="form-control">
                                            </div>
                                            <br>

                                            Phone number
                                            <div>
                                                <input type = "tel" id="phone" class="form-control">
                                            </div>
                                            <br>

                                            Service type
                                            <div>
                                                <select id="serviceType" class="form-control">
                                                    <!-- Options will be added dynamically through JavaScript -->
                                                </select>
                                                
                                            </div>
                                            <br>

                                            Message
                                            <div>
                                                <textarea  type="text" id="message" rows="5" class="form-control message-input"></textarea>
                                            </div>
                                            <br>

                                            <div>
                                                <button type="button" id="contactButton" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>





{% endblock %}