{% extends "layout.html" %}

{% block content %}

<title>Contact - Miami Marine Management</title>


<script>
    let services = '{{ services| tojson}}'
</script>
<script type="module" src="static/contact.js"></script>

<div class="page">
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1><b>contact our team</h1>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="contact-page">

                <div id="contact-subheader">
                    
                    <div>
                        We will be happy to answer your questions. 
                    </div>
                    <div">
                        Email, call or fill out our form and we will get back to you shortly.  
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <div id="contact-info"> 
                            <p><b><i class="fas fa-envelope"></i> contactmiamimarine@gmail.com</b></p>                
                            <p><b><i class="fas fa-phone"></i> (786) 332-6817</b></p>
                        </div>
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <form>
                            Name
                            <div>
                                <input id="name" class="form-control">
                            </div>
                            <br>

                            Email
                            <div>
                                <input type = "email" id="email"  class="form-control">
                            </div>
                            <br>

                            Phone number
                            <div>
                                <input type = "tel" id="phone" class="form-control">
                            </div>
                            <br>

                            Service type
                            <div>
                                <select id="serviceType" class="form-control">
                                    <!-- Options will be added dynamically through JavaScript -->
                                </select>
                                
                            </div>
                            <br>

                            Message
                            <div>
                                <textarea  type="text" id="message" rows="5" class="form-control message-input"></textarea>
                            </div>
                            <br>

                            <div>
                                <button type="button" id="contactButton" class="btn btn-primary">Submit</button>
                            </div>

                        </form>
                    </div>

                </div>
                <br>
                

            </div>
        </div>
     
        

    </div>

</div>

{% endblock %}