{% extends "layout.html" %}

{% block content %}

<script>
</script>

<div class="page">
    <div class="center">
      <h1>Boat &amp; Yacht Services</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus aliquet felis, nec gravida ipsum
        pulvinar non. Suspendisse potenti. Ut ultrices urna non orci facilisis, sit amet accumsan enim convallis. Quisque
        ac justo ut lacus condimentum dapibus. Nullam lacinia luctus dolor at rhoncus. Mauris commodo elit vel justo
        feugiat, id gravida purus placerat. Suspendisse tincidunt est in erat venenatis, et consequat velit tincidunt.</p>
    </div>
  
    <div class="center">
      <img src="LOGO.jpg" alt="Description of the image">
    </div>

</div>

{% endblock %}