{% extends "layout.html" %}

{% block content %}
<title>Miami Marine Management</title>

<script>
</script>


<div>
  <div id="logo-home"> 
    <!-- <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/LOGO.png?raw=true"> -->
    <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/profile.jpg?raw=true">
  </div>
  <div class="center">
    <div class="row">
      
      <div class="col-md-12">
        
          <a id = "welcome-to">
            Welcome to
          </a>
          <a id = "maimi-marine-management">
            Miami Marine Management
          </a>
          
      
        <div class="row" id="front-blurb">
          Your go-to destination for top-notch marine solutions in Miami, Florida. 
          From immaculate cleaning and waxing to outfitting for unforgettable fishing or diving experiences, we've got it all. Need fuel tank replacement or expert maintenance? Look no further. 
          Experience excellence in marine care with us!
        </div>
        
      
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-4 mb-4">
      <div class="page-home-button">
        <a href="/services">
          <div class="d-flex justify-content-start">
            <div class="home-page-button-icon">
              <i class="fas fa-ship"></i>
            </div>
            <div class="home-page-button-blurb">
              Check out service details here
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="page-home-button">
        <a href="/about_us">
          <div class="d-flex justify-content-start">
            <div class="home-page-button-icon">
              <i class="fas fa-users"></i>
            </div>
            <div class="home-page-button-blurb">
              Learn more about the team here
            </div>
          </div>
        </a>
      </div>
    </div>
      
    <div class="col-md-4 mb-4">
      <div class="page-home-button">
        
        <a href="/contact">
          <div class="d-flex justify-content-start">
            <div class="home-page-button-icon">
              <i class="fas fa-phone"></i>
            </div>
            <div class="home-page-button-blurb">
              Find our contact info here
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>


  


  <!-- <div class="row">
    <div class="col-6 text-right">
      <i class="fas fa-ship fa-4x" id="ship-icon"></i>
    </div>
    <div class="col-9 offset-3">
      <p>Find more about our services here</p>
      <i class="fas fa-users fa-4x" id="ship-icon"></i>
      <i class="fas fa-phone"  id="ship-icon"></i>
    </div>
  </div>

  <div id = "ship-icon">
    <i class="fas fa-ship fa-4x" id="ship-icon"></i>
    <p class="icon-caption">Click the icon to see our list of services</p>
   
  </div> -->


  

 
  <!-- <div class="row mb-4">
    <div class="col-md-4 mb-4">
      <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/boat2.jpg?raw=true" style="width: 100%;">
    </div>
    <div class="col-md-4 mb-4">
      <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/boat1.jpg?raw=true" style="width: 100%;">
    </div>
    <div class="col-md-4 mb-4">
      <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/boat3.jpg?raw=true" style="width: 100%;">
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-4 mb-4">
        <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/boat4.jpg?raw=true" style="width: 100%;">
    </div>
    <div class="col-md-4 mb-4">
        <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/boat5.jpg?raw=true" style="width: 100%;">
      </div>
    <div class="col-md-4 mb-4">
        <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/boat6.jpg?raw=true" style="width: 100%;">
    </div>
  </div> -->

  <!-- <div class="row mb-4" id ="service-link">
    <a href="/services" style="text-decoration: none; color: inherit;">
        Click here to see our services!
    </a>
  </div> -->


    
    

    
  
      
    <!-- <div id="logo-home"> 
      <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/profile.jpg?raw=true">
    </div> -->

    
    

</div>

{% endblock %}