{% extends "layout.html" %}

{% block content %}
<title>Miami Marine Management</title>

<script>
</script>




<div>
  <div class="center">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
      
        <div class="row" id="front-blurb">
          <div class = "top-row-front">
            Here at
          </div>
          <div id = "MMM-front"> Miami Marine Management</div>
          <div class = "top-row-front">
            ,
          </div>
          we stray away from the generic yacht management programs. We are avid boaters and
          owners who grew tired of the status quo. Our goal with Miami Marine Management is to tackle what the industry lacks: quality and accountability. Your journey with us starts with a bespoke approach designed for you and your vessel’s maintenance needs. For more info about our services, click below.
        </div>
        
      
      </div>
    </div>
  </div>
</div>

{% endblock %}