{% extends "layout.html" %}
{% block content %}

<title>Services - Miami Marine Management</title>

<script>
  let services = '{{ services| tojson}}'
  let service_dic = '{{ service_dic| tojson}}'
  let partners = '{{partners | tojson}}'
</script>
<script type="module" src="static/services.js"></script>
 <!-- Add this inside the <head> section -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>

<div class="page">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        
        <h1>services</h1>

        
        <div id="servicesContainer"> 
          <!-- Services will be dynamically added here -->
        </div>
      </div>
    </div>

    


  
    <br>
    <div class="row">
      <div class="col-md-"></div>
      <div class="col-md-12">
        <div id="containerBig" class="row"> 
          <div class="col-md-6">
              <div style="justify-content: flex-start; padding:0px;">
                <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/pair1.png?raw=true" style="width: 100%; display: block; border-radius: 15px; margin-bottom: 20px">
              </div>
          </div>
    
          <div class="col-md-6">
              <div style="justify-content: flex-start; padding:0px;">
                <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/pair2.png?raw=true" style="width: 100%; display: block;border-radius: 15px; margin-bottom: 20px">
              </div>
              
          </div>
    
          <div class="col-md-6">
              <div style="justify-content: flex-start; padding:0px;">
                <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/pair3.png?raw=true" style="width: 100%; display: block; border-radius: 15px; margin-bottom: 20px">
              </div>
          </div>
    
          <div class="col-md-6">
              <div style="justify-content: flex-start; padding:0px;">
                <img src="https://github.com/tiffanymcbrayer/miami_marine_mgmt/blob/main/pics/pair4.png?raw=true" style="width: 100%; display: block; border-radius: 15px; margin-bottom: 20px">
              </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- <div class="row">
      <div class="col-md-12">
        <hr class="custom-hr">
      </div>
    </div> -->

 
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div id="partners-container">
          <h2>partners</h2>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-2"></div>

      <!-- Prev button  -->
      <div class="col-md-1">
        <a class="carousel-control-prev" href="#carouselContainer" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
      </div>

      <!-- Partners -->
      <div class="col-md-6">
        <div id="carouselContainer" class="carousel slide" data-ride="carousel">
          <!-- Generated in javascript -->
        </div>
      </div>

      <!-- Next button -->
      <div class="col-md-1">
        <a class="carousel-control-next" href="#carouselContainer" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- 3 column grid to show the partners  -->
        <!-- <div class="row" id="partnersGrid"></div> -->
      
    </div>
</div>
  

{% endblock %}